<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Book Your Table - {{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/manifest.json" rel="manifest" >
    <meta name="theme-color" content="white"/>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" >
    <link href="../static/css/style.css" rel="stylesheet" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<section class="home" id="home">

    <div class="content">

        <h3><a href="#" class="logo"> <i class="fas fa-utensils"></i></a> Book<span>Your</span>Table</h3>
        <p>Sistema innovativo di prenotazione per i ristoranti</p>
    </div>

</section>

{% block content %}{% endblock %}

<script language="JavaScript" src="../static/js/main.js"></script>
</body>
</html>